@import url('https://fonts.googleapis.com/css?family=Oswald:300');

header {
    padding-top: 3px;
}

footer {
    text-align: center;
}

.navbar-dark {
    /*background: #037CFF;*/
}

div {
    font-family: 'Oswald', sans-serif;
}