{% extends 'blog/base.html' %}

{% block content %}
        <div class="container title-body">
            <h1>Категории</h1>
            {% if categories_list %}
                <ul>
                    {% for category in categories_list %}
                        <li>
                            <p><a href="{% url 'blog:categories_detail' category.slug %}">{{ category.name }}</a> ({{ category.post_set.all|length }})</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No category are available.</p>
            {% endif %}
        </div>
{% endblock %}
