{% extends 'blog/base.html' %}

{% block content %}
    <main>
        <div class="container blog">
            <h1>{{ categories.name }}</h1>
            {% if categories %}
                <ul>
                    {% for post in categories.post_set.all %}
                        <li>
                            <span>{{ post.date_for_publish }}</span>
                            <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No category are available.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}