{% extends 'blog/base.html' %}

{% block content %}
        <div class="container title-body">
            <h1>Блог</h1>
            {% if latest_post_list %}
                <ul>
                    {% for post in latest_post_list %}
                        <li>
                            <span>{{ post.date_for_publish }}</span>
                            <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No post are available.</p>
            {% endif %}
        </div>
{% endblock %}